div[data-component-name="features"] {
  height: auto;
}
div[data-component-name="features-row-top"],
div[data-component-name="features-row-bottom"] {
  div[data-component-name="cards"] .nr-cards__content .nr-cards__description-text {
    text-align: center;
  }
}

.component-features {
  h3.nr_cards {
    &__head {
      font-size: 1.4375rem !important;
    }
  }
  .fea p.nr-cards__description-text {
    text-align: center;
  }
}
