@font-face {
  font-family: "CastrolSansCon-Regular";
  src: url("../../fonts/CastrolSansCon-Regular.eot");
  src: url("../../fonts/CastrolSansCon-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/CastrolSansCon-Regular.woff2") format("woff2"), url("../../fonts/CastrolSansCon-Regular.woff") format("woff"), url("../../fonts/CastrolSansCon-Regular.ttf") format("truetype"), url("../../fonts/CastrolSansCon-Regular.svg#CastrolSansCon-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CastrolSansCon-Medium";
  src: url("../fonts/CastrolSansCon-Medium.eot");
  src: url("../fonts/CastrolSansCon-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CastrolSansCon-Medium.woff2") format("woff2"), url("../fonts/CastrolSansCon-Medium.woff") format("woff"), url("../fonts/CastrolSansCon-Medium.ttf") format("truetype"), url("../fonts/CastrolSansCon-Medium.svg#CastrolSansCon-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.your-style {
  font-family: "CastrolSansCon";
  font-weight: 500;
  font-style: normal;
}
