// Colours
$castrolGreen: #009343;
$castrolBlack: #252530;
$castrolBodyGrey: #666;

// Fonts
$castrolSansCon: "CastrolSansCon-Regular", sans-serif;
$castrolSansConMed: "CastrolSansCon-Medium", sans-serif;
